/*SOCIAL MEDIA STUFF*/
@media screen and (min-device-width: 480px) and (orientation: portrait) {
    #social {
    	position: fixed;
    	top: 50px;
    	right: 0px;
    	line-height: 0px;
    }
    #social ul {
    	position: relative;
    	float: right;
    	right: -40px;
    	list-style-type: none;
    }
    #social h2 {
    	position: relative;
    	right: -80px;
    	top: 170px;
    	cursor: pointer;

	    -webkit-transform: rotate(-90deg);
    }
    #social ul li {
        position: relative;
    	padding-left: 40px;
    	-webkit-transition: all 0.2s ease-in;
    }
    #social ul li:hover {
        right: 40px;
    }
    #google img {
        background: #CE3D2C;
    }
    #twitter img {
        background: #00ACEE;	
    }
    #coderwall img {
        background: #333230;	
    }
    #linkedin img {
        background: #007BB6;	
    }
    #github img {
        background: #000000;	
    }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    #social {
        text-align: center;
    }
    #social ul {
    	list-style-type: none;
    	padding: 0;
    }
    #social ul li {
        display: inline;
    }
    #google img {
        background: #CE3D2C;
    }
    #twitter img {
        background: #00ACEE;	
    }
    #coderwall img {
        background: #333230;	
    }
    #linkedin img {
        background: #007BB6;	
    }
    #github img {
        background: #000000;	
    }
}
