<div id="sharing" class="six columns">
    <h2>
        Share this Post
        <div id="triangle"></div>
    </h2>
    <div class="arrow_box">
        <div id="shareButtons">
            <a href="https://plus.google.com/share?url={{ site.production_url }}{{ page.url }}" target="_blank">Google+</a>

            <a href="https://twitter.com/intent/tweet?url={{ site.production_url }}{{ page.url }}&text={{ page.title }}&via={{ site.author.twitter }}" target="_blank">Twitter</a>

            <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.production_url }}{{ page.url }}&title={{ page.title }}&" target="_blank">LinkedIn</a>

        </div>
    </div>
</div>