<div id="sharing" class="six columns">
    <h2>
        Share this Post
        <div id="triangle"></div>
    </h2>
    <div class="arrow_box">
        <div id="shareButtons">
            <a class="google" href="https://plus.google.com/share?url={{ site.production_url }}{{ page.url }}" target="_blank"><b>GOOGLE+</b></a>

            <a class="twitter" href="https://twitter.com/intent/tweet?url={{ site.production_url }}{{ page.url }}&text={{ page.title }}&via={{ site.author.twitter }}" target="_blank"><b>TWITTER</b></a>

            <a class="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.production_url }}{{ page.url }}&title={{ page.title }}&" target="_blank"><b>LINKEDIN</b></a>

        </div>
    </div>
</div>