* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0px; }

/*Fonts*/
.sans {
  font-family: 'Monda', sans-serif; }

.serif {
  font-family: 'Roboto Slab', serif; }

/*HEADER STUFF*/
header, footer {
  font-weight: bold;
  font-size: 20px;
  padding: 20px 10px 20px 10px;
  background: #3D6AA2; }
  header a, footer a {
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    transition: color 0.5s linear;
    border: none; }
  header a:hover, footer a:hover {
    color: #FFFFFF; }

header {
  text-align: right; }

a {
  text-decoration: none;
  border-bottom: 1px black dotted;
  color: #000000; }

/*Content*/
#recent {
  list-style-type: none;
  padding: 0; }
  #recent a {
    position: relative;
    border: none;
    left: 0px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    #recent a:hover {
      left: 5px; }

blockquote p {
  font-style: italic; }
  blockquote p:before {
    content: "~\""; }
  blockquote p:after {
    content: "\""; }

.google {
  background: #CE3D2C; }

.twitter {
  background: #00ACEE; }

.linkedin {
  background: #007BB6; }

.coderwall {
  background: #333230; }

.github {
  background: #000000; }

@media all and (min-width: 1000px) {
  #background {
    margin-top: 92px;
    margin-bottom: 66px;
    z-index: 1;
    background: white; }

  #content {
    text-align: right; }

  footer, header {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: -1; }

  header {
    top: 0;
    height: 92px; }

  footer {
    bottom: 0;
    height: 66px; }
    footer #me {
      float: right; }
    footer #credits {
      float: left; } }
@media all and (min-width: 320px) and (max-width: 1000px) {
  #content {
    text-align: left; }

  #about, footer {
    text-align: center; } }
